# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# secrets
.env

# OS files
.DS_Store

# Outputs
tmp/

# Playwright
playwright-report/
test-results/
blob-report/
reports/


# React, typescript, tailwind, shadcn, etc.
node_modules
dist
dist-ssr
*.local
.vite/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml
.idea/
